<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658733336628-41qi2cn9ijr7ml5mqlkk8ujikgeui6g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658733336628-41qi2cn9ijr7ml5mqlkk8ujikgeui6g8</string>
	<key>API_KEY</key>
	<string>AIzaSyBkXKGnAusgayt4W4KI2nPT-qtCv410JAE</string>
	<key>GCM_SENDER_ID</key>
	<string>658733336628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.habit</string>
	<key>PROJECT_ID</key>
	<string>habit-103ab</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-103ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658733336628:ios:c38bf3f51026a555792261</string>
</dict>
</plist>